.sidebarOverlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: flex-end;
  background-color: rgba(0, 0, 0, 0.2);
  z-index: 9;
}

.sidebar {
  width: 480px;
  height: 100vh;
  overflow: auto;
  padding: 50px 20px;
  border-radius: 6px 0 0 6px;
  background-color: #fff;
}

.sidebarHeader {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 24px;
}

.sidebarTitle {
  color: #000;
  font:
    600 20px "Source Sans Pro",
    sans-serif;
    margin: 0;
}

.closeButton {
  background: none;
  border: none;
  cursor: pointer;
}

.popupcloseIcon {
  width: 14px;
  height: 14px;
  background:url(../../../../public/images/close.png) no-repeat 0 0;
  display: inline-block;
}

.filterSection {
  margin-bottom: 20px;
}

.searchContainer {
  position: relative;
}

.filterTitle {
  color: #000;
  font:
    14px "Source Sans Pro",
    sans-serif;
}

.searchInput {
  max-width: 432px;
  width: 100%;
  height: 49px;
  border: 1px solid #718295;
  border-radius: 12px;
  display: flex;
  align-items: center;
  padding: 0 14px;
  gap: 6px;
}

.searchInput input {
  flex: 1;
  border: none;
  outline: none;
  font:
    14px "Source Sans Pro",
    sans-serif;
}

.searchIcon {
  color: #151820;
  font-size: 24px;
  margin-right: 8px;
}

.radioGroup {
  display: flex;
  flex-direction: column;
  gap: 4px;
}

.radioLabel {
  display: flex;
  align-items: center;
  gap: 8px;
  color: #151820;
  font:
    14px "Source Sans Pro",
    sans-serif;
}

.select {
  width: 222px;
  height: 40px;
  border: 1px solid #718295;
  border-radius: 6px;
  padding: 0 9px;
  color: #151820;
  appearance: none;
  background-image: url("data:image/svg+xml,%3Csvg width='18' height='16' viewBox='0 0 18 16' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M15.6974 5.96484L10.7234 10.3115C10.136 10.8248 9.17472 10.8248 8.5873 10.3115L3.61328 5.96484' stroke='%23151820' stroke-width='1.5' stroke-miterlimit='10' stroke-linecap='round' stroke-linejoin='round'/%3E%3C/svg%3E");
  background-repeat: no-repeat;
  background-position: right 14px center;
  font:
    14px "Source Sans Pro",
    sans-serif;
    outline: none;
}

.select.disabled{
  background-color: #F2F2F2;
  border: 1px solid transparent;
  pointer-events: none;
}

.applyButton {
  width: 146px;
  height: 40px;
  border: none;
  border-radius: 12px;
  color: #151820;
  margin-top: 20px;
  cursor: pointer;
  background-color: #e0e0e0;
  font:
    600 15px "Source Sans Pro",
    sans-serif;
    transition: all ease .3s;
}

.clearButton {
  width: 146px;
  height: 40px;
  border: none;
  border-radius: 12px;
  color: #151820;
  margin-top: 20px;
  cursor: pointer;
  background-color: #e0e0e0;
  font:
    600 15px "Source Sans Pro",
    sans-serif;
    transition: all ease .3s;
}
.clearButton:hover {
  background-color: #e7e7e7;
}
.applyButton.active {
  background-color: #f4c031;
}

.applyButton.active:hover {
  background-color: #e5b22e;
}

.typesRadiowrapper{
  display: flex;
  align-items: center;
  gap: 5px;
  font-size: 14px;
}

.applyButtonWrapper{
  text-align: center;
}


.dropdown {
  display: flex;
  width: 100%;
  flex-direction: column;
  position: relative;
  max-width: 222px;
}

.dropdown.disabled .filterHeader {
  background-color: #F2F2F2;
  pointer-events: none
}

.filterBlock {
  border-radius: 0;
  display: flex;
  width: 100%;
  flex-direction: column;
}

.filterHeader {
  border-radius: 6px 6px 6px 6px;
  border: 1px solid var(--Desactivado, #718295);
  background-color: #fff;
  display: flex;
  width: 100%;
  align-items: center;
  justify-content: space-between;
  padding: 4px 15px 4px 8px;
  height: 40px;
}

.filterHeader.open {
  border-radius: 6px 6px 0 0;
}

.filterHeaderContent {
  display: flex;
  flex-direction: column;
}

.filterLabel {
  color: var(--Gray-4, #bdbdbd);
  font-size: 10px;
}

.title {
  color: var(--Negro-blue, #151820);
  font-size: 14px;
  margin-top: 0px;
  margin-bottom: 6px;
  font-weight:normal ;
}

.dropdownIcon {
  aspect-ratio: 1;
  object-fit: contain;
  object-position: center;
  width: 16px;
  /* margin-top: 8px; */
  transform: rotate(180deg);
  transition: transform 0.3s ease-in-out;
}

.filterHeader.open .dropdownIcon {
  transform: rotate(0deg);
}

.filterContent {
  border-radius: 0 0 5px 5px;
  border: 1px solid var(--Desactivado, #718295);
  border-top: none;
  background-color: #fff;
  display: flex;
  width: 100%;
  flex-direction: column;
  align-items: flex-start;
  font-size: 12px;
  color: #000;
  /* padding: 8px 0; */
  display: block;
  position: absolute;
  top: 40px;
  left: 0px;
  z-index: 2;
  overflow:auto ;
  max-height: 200px;
}

.filterContent ul{
  padding: 0;
  margin: 0;
  list-style: none;
  font-size: 14px;
}

.filterContent ul li{
  padding: 4px 8px;
}

.filterContent.active {
  display: block;
}


.selectedItem {
  justify-content: space-between;
  align-items: center;
  border-radius: 8px;
  border: 0.5px solid var(--Gray-3, #828282);
  background-color: #fdfdfd;
  display: flex;
  min-height: 36px;
  width: 100%;
  gap: 40px;
  font-size: 14px;
  padding: 5px 26px 5px 16px;
  outline: none;
}

.selectedItemContent {
  display: flex;
  align-items: center;
}

.selectedItemText {
  margin: auto 0;
}

.selectedItemDivider {
  background-color: #151820;
  width: 2px;
  height: 16px;
  margin: auto 0;
}

.closeIcon {
  width: 14px;
  height: 14px;
  margin: auto 0;
  position: absolute;
  right: 8px;
  top: 50%;
  transform: translateY(-50%);
  background: url(../../../public/images/close.png) no-repeat 0 0;
  cursor: pointer;
}


.filterselectedItem{
  display: flex;
  gap: 5px;
  align-items: center;
  position: relative;
  width: 100%;
  padding: 0 14px 8px;
}

.filterChecklist{
  list-style: none;
  margin: 0;
  padding:0 0 0;
  font-size: 16px;
  max-height: 120px;
  overflow-y: auto;
}

.filterChecklist li:not(:last-child){
  /* padding-bottom: 10px; */
}

.filterChecklist li{
  transition: all 0.3s ease-in-out;
  padding: 8px 14px;
  cursor: pointer;
}
.filterChecklist li:hover{
  background-color: #EBEEF2;
}

.filterChecklist .checkContainer{
  font-size: 16px;
  padding-left: 17px;
}

/* .dropdown.disabled {
  pointer-events: none;
  opacity: 0.6;
} */

.filterselectedInputWrapper{
  position: relative;
}

.filterNoResults{
  font-size: 13px;
  text-align: center;
}

.buttonGroup{
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
}