.eventsSection {
  /* padding: 13px 120px; */
  padding: 13px 0;
  color: #000000;
}

.sectionTitle {
  font-size: 20px;
  font-weight: 600;
  margin: 0;
  padding-bottom: 8px;
}

.sectionHeader {
  display: flex;
  justify-content: space-between;
  align-items: center;
  /* margin-top: 8px; */
  gap: 10px;
}

.sectionSubtitle {
  font-size: 14px;
  font-weight: 400;
  margin:0;

}

.seeMoreLink {
  font-size: 14px;
  text-decoration: underline;
  color: inherit;
}

.divider {
  border: none;
  border-top: 1px solid #828282;
  margin: 10px 0 16px;
}

.eventsList {
  display: flex;
  gap: 28px;
  flex-wrap: wrap;
}

.eventCard {
  width: calc(25% - 21px);
  /* min-width: 240px; */
}

.eventImage {
  width: 100%;
  aspect-ratio: 1.86;
  object-fit: cover;
  border-radius: 12px;
}

.eventName {
  margin-top: 12px;
  font-size: 14px;
}

@media (max-width: 991px) {
  /* .eventsSection {
    padding: 13px 20px;
  } */

  .eventsList {
    justify-content: center;
  }

  .eventCard {
    width: calc(50% - 14px);
  }
}

@media (max-width: 480px) {
  .eventCard {
    width: 100%;
  }

  .sectionHeader {
    flex-wrap: wrap;
  }
}
