.searchContainer {
  display: flex;
  max-width: 550px;
  width: 100%;
  flex-direction: column;
  position: relative;
}

.searchInput {
  border-radius: 12px 12px 0 0;
  border: 2px solid var(--Desactivado, #718295);
  background-color: #fff;
  display: flex;
  gap: 8px;
  padding: 17px 19px;
}

.searchIcon {
  width: 24px;
  height: 24px;
  object-fit: contain;
}

.inputField {
  flex-grow: 1;
  border: none;
  outline: none;
  font: 400 14px Source Sans Pro, -apple-system, Roboto, Helvetica, sans-serif;
  color: #010101;
}

.regionSearchContainer {
  border-radius: 0 0 12px 12px;
  border: 1px solid var(--Color-principal-azul, #212d94);
  background-color: #fff;
  width: 100%;
  padding: 24px 34px;
  position: absolute;
  /* top: 60px; */
  top:calc(100% - 1px);
  display: none;
  z-index: 2;
}

.regionSearchContainer.active{
  display: block;
}

.regionSearchTitle {
  font-weight: 600;
  font-size: 14px;
  margin-bottom: 22px;
}

.regionsGrid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 22px 50px;
}

.regionItem {
  display: flex;
  flex-direction: column;
  align-items: center;
}



.regionImage {
  width: 120px;
  height: 120px;
  border-radius: 6px;
  border: 1px solid var(--Desactivado, #718295);
  background-color: #fff;
  cursor: pointer;
}


.regionImage:hover{
 
}


.regionName {
  margin-top: 8px;
  font-size: 14px;
  text-align: center;
}

.mapas-buscador-default,
.mapas-buscador-asia-default,
.mapas-buscador-africa-default,
.oceania {
  background-size: cover;
  background-position: center;
}
.searchWrapperMain{
  display: flex;
  justify-content: center;
  padding: 24px 0 0;
}
@media (max-width: 991px) {
  .regionSearchContainer {
    padding: 24px 20px;
  }

  .regionsGrid {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media (max-width: 480px) {
  .regionsGrid {
    grid-template-columns: repeat(2, 1fr);
  }

  .regionSearchContainer {
    top: 52px;
  }

  .regionsGrid {
    gap: 10px 20px;
  }
  
  .regionImage{
    width: 100px;
    height: 100px;
  }
}
