.lugaresContainer {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  font-family: Source Sans Pro, -apple-system, Roboto, Helvetica, sans-serif;
}

.lugaresContainer.overflowHide {
  min-height: unset;
  overflow: hidden;
  height: 100vh;
}

.mainContent {
  flex: 1;
  padding: 26px 0;
}

.contentWrapper {
  display: flex;
  gap: 38px;
}

.infoSection {
  flex: 1;
}

.museumDescription {
  color: #000;
  font-size: 14px;
  line-height: 25px;
  margin-top: 26px;
}

@media (max-width: 991px) {
  .contentWrapper {
    flex-direction: column;
  }
}
