.pageContainer {
  width: 100%;
  min-height: 100vh;
  background-color: #fff;
  margin: 0 auto;
}

.mainContent {
  display: flex;
  min-height: calc(100vh - 100px);
}

.formWrapper {
  width: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  /* padding-top: 162px; */
  position: relative;
  height: 100%;
}

.authPage header{
  background-color: #212d94;
  padding: 10px 0rem;
}

.loginPageOuter {
  width: 100%;
  min-height: calc(100vh - 105px);
  position: relative;
}

.imageContainerWide {
  position: absolute;
  top: 0;
  left: 0;
  width: 50vw;
  height: 100%;
  background: url(../../../public/images/forgot.jpg) no-repeat 0 0;
  background-size: cover;
}

@media (max-width: 1440px) {
  .imageContainer img{
    display: block;
  }

  .imageContainerWide{
    display: none;
  }
}


@media (max-width: 991px) {
  .pageContainer {
    max-width: 991px;
  }

  .mainContent {
    flex-direction: column;
  }

  .formWrapper {
    width: 100%;
    padding: 40px 20px;
  }
}

@media (max-width: 640px) {
  .pageContainer {
    max-width: 640px;
  }
}
