.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 16px 120px;
  border-bottom: 1px solid #e0e0e0;
  background-color: #fff;
}

@media (max-width: 991px) {
  .header {
    padding: 16px 60px;
  }
}

@media (max-width: 640px) {
  .header {
    padding: 16px 20px;
    flex-wrap: wrap;
  }
}

.logo {
  width: 60px;
  height: 50px;
}

.nav {
  display: flex;
  gap: 28px;
}

@media (max-width: 640px) {
  .nav {
    display: none;
  }
}

.navItem {
  color: #151820;
  padding: 12px 16px;
  border-radius: 12px;
  cursor: pointer;
  font:
    14px "Source Sans Pro",
    sans-serif;
}

.headerRight {
  display: flex;
  align-items: center;
  gap: 24px;
}

.flag {
  width: 20px;
  height: 20px;
  border-radius: 50%;
}

.icon {
  width: 20px;
  height: 18px;
}

.headerText {
  color: #151820;
  font:
    600 16px "Source Sans Pro",
    sans-serif;
}

.divider {
  width: 100%;
  height: 1px;
  margin-bottom: 40px;
  background-color: #bdbdbd;
}

.profile {
  width: 34px;
  height: 34px;
  border-radius: 50%;
}

.main {
  padding: 40px 120px;
  background-color: #fff;
}

@media (max-width: 991px) {
  .main {
    padding: 40px 60px;
  }
}

@media (max-width: 640px) {
  .main {
    padding: 20px;
  }
}

.tripHeader {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  margin-bottom: 14px;
}

.tripInfo {
  display: flex;
  flex-direction: column;
  /* gap: 5px; */
}

.tripTitle {
  color: #000;
  font:
    600 25px "Source Sans Pro",
    sans-serif;
    margin: 0 0 5px;
}

.tripDates {
  color: #000;
  font:
    14px "Source Sans Pro",
    sans-serif;
    margin: 0;
}

.tripActions {
  display: flex;
  gap: 20px;
}

.mapContainer {
  height: 450px;
  position: relative;
  margin-bottom: 22px;
  border-radius: 6px;
  background-color: #d9d9d9;
}

.mapSvg {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.mapMarkers {
  position: absolute;
  display: flex;
  justify-content: space-around;
  width: 100%;
  bottom: 20px;
}

.mapMarker {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  color: #151820;
  background-color: #f4c031;
  font:
    700 20px "Source Sans Pro",
    sans-serif;
  display: flex;
  align-items: center;
  justify-content: center;
}

.mapControls {
  position: absolute;
  right: 20px;
  bottom: 20px;
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.mapControl {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #fff;
}

.mapControlActive {
  background-color: #f4c031;
}

.tripType {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 10px;
}

.tripTypeTag {
  height: 24px;
  width: 75px;
  border: 1px solid #f4c031;
  border-radius: 8px;
  color: #1d192b;
  font-size:14px;
  font-family: 'Roboto';
  font-weight: 500;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 20px;
}

.tripSummary {
  color: #000;
  margin: 24px 0 30px;
  font:
    600 20px "Source Sans Pro",
    sans-serif;
}

.stopList {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.editButton{
  background: url(../../../public/images/edit.svg) no-repeat 0 0;
  width: 24px;
  height: 24px;
  border: none;
  outline: none;
  cursor: pointer;
}

.shareButton{
  background: url(../../../public/images/share-icon.svg) no-repeat 0 0;
  width: 24px;
  height: 24px;
  border: none;
  outline: none;
  cursor: pointer;
}


@media (max-width: 640px) {
  .stopList {
    gap: 20px;
  }
}

.stopItem {
  display: flex;
  align-items: center;
  gap: 32px;
}

.stopNumber {
  color: #000;
  font:
    600 25px "Source Sans Pro",
    sans-serif;
}

.stopCard {
  display: flex;
  flex: 1;
  height: 140px;
  padding: 8px;
  border: 1px solid #828282;
  border-radius: 12px;
  background-color: #fff;
}

@media (max-width: 640px) {
  .stopCard {
    flex-direction: column;
    height: auto;
  }
}

.stopImage {
  width: 180px;
  height: 124px;
  border-radius: 12px;
  object-fit: cover;
}

@media (max-width: 640px) {
  .stopImage {
    width: 100%;
    height: 200px;
  }
}

.stopInfo {
  padding: 15px 20px;
  flex: 1;
}

.stopName {
  color: #000;
  margin-bottom: 8px;
  font:
    600 16px "Source Sans Pro",
    sans-serif;
}

.stopAddress {
  color: #000;
  margin-bottom: 36px;
  font:
    12px "Source Sans Pro",
    sans-serif;
}

.stopRating {
  display: flex;
  align-items: center;
  gap: 8px;
}

.ratingScore {
  width: 40px;
  height: 30px;
  color: #fff;
  border-radius: 5px;
  background-color: #212d94;
  font:
    16px "Source Sans Pro",
    sans-serif;
  display: flex;
  align-items: center;
  justify-content: center;
}

.ratingText {
  color: #000;
  font:
    10px "Source Sans Pro",
    sans-serif;
}

.similarPlaces {
  margin: 40px 0 70px;
}

.sectionTitle {
  color: #000;
  margin: 0 0 25px;
  font:
    600 20px "Source Sans Pro",
    sans-serif;
}

.placeList {
  display: flex;
  gap: 28px;
}

.placeItem {
  width: 279px;
  display: flex;
  flex-direction: column;
  gap: 12px;
  position: relative;
  cursor: pointer;
}

.placeImage {
  width: 100%;
  height: 150px;
  border-radius: 12px;
  object-fit: cover;
}

.placeName {
  color: #000;
  font:
    14px "Source Sans Pro",
    sans-serif;
}

.placeArrow {
  position: absolute;
  right: 0;
  top: 50%;
  transform: translateY(-50%);
  width: 40px;
  height: 40px;
  border-radius: 8px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #f4c031;
  outline: none;
  border: none;
}


.footer {
  border-top: 1px solid #e0e0e0;
  padding: 40px 120px 20px;
  background-color: #fff;
}

@media (max-width: 991px) {
  .footer {
    padding: 40px 60px 20px;
  }
}

@media (max-width: 640px) {
  .footer {
    padding: 40px 20px 20px;
  }
}

.footerContent {
  display: flex;
  justify-content: space-between;
  margin-bottom: 40px;
}

@media (max-width: 640px) {
  .footerContent {
    flex-direction: column;
    gap: 40px;
  }
}

.footerLogo {
  width: 80px;
  height: 67px;
}

.footerSection {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.footerSectionTitle {
  color: #151820;
  font:
    600 20px "Source Sans Pro",
    sans-serif;
}

.footerLinks {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.footerLink {
  color: #151820;
  font:
    14px "Source Sans Pro",
    sans-serif;
}

.footerLinkUnderline {
  text-decoration-line: underline;
}

.footerButton {
  padding: 12px 16px;
  border-radius: 12px;
  border: none;
  color: #151820;
  cursor: pointer;
  background-color: #f4c031;
  font:
    14px "Source Sans Pro",
    sans-serif;
}

@media (max-width: 640px) {
  .footerButton {
    width: 100%;
  }
}

.footerBottom {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-top: 20px;
  border-top: 1px solid #151820;
}

@media (max-width: 640px) {
  .footerBottom {
    flex-direction: column;
    gap: 20px;
    text-align: center;
  }
}

.footerCopyright {
  color: #151820;
  font:
    12px "Source Sans Pro",
    sans-serif;
}

.socialIcons {
  display: flex;
  gap: 5px;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  white-space: nowrap;
  border: 0;
}
