.itenaryMapFrame{
    margin: 30px 0 0;
    width: 100%;
    border-radius: 6px;
    overflow: hidden;
    position: relative;
  }
  
  .itenaryMapFrame iframe{
    height: 450px;
  }

  .itenaryMapOptions{
    position: absolute;
    width: 40px;
    height: 40px;
    background-color: #F4C031;
    border-radius: 50%;
    right:25px;
    bottom: 25px;
  }

  .itenaryMapOptions .dots{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    background: url(../../../../public/images/three-dots.svg) no-repeat 0 0;
    width: 22px;
    height: 24px;
    cursor: pointer;
  }

  .itenaryMapOptions .dots.close{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    background: url(../../../../public/images/close.png) no-repeat 0 0;
    width: 12px;
    height: 14px;
    cursor: pointer;
  }

  .itenaryMapOptionsListWrapper{
    position: absolute;
    top: -150px;
    right: 0;
    display: flex;
    flex-direction: column;
    gap: 10px;
    width: 40px;
    height: 150px;
  }

  .itenaryMapOptionsSelectedListWrapper{
    position: absolute;
    top: -52px;
    right: 0;
    display: flex;
    flex-direction: column;
    gap: 10px;
    width: 40px;
    height: 52px;
  }

  .itenaryMapOptionItem{
    width: 40px;
    height: 40px;
    background-color: #fff;
    border: solid 1px #000;
    border-radius: 50%;
    position: relative;
  }

  .itenaryMapOptionItem.car::after{
    position: absolute;
    content: '';
    background: url(../../../../public/images/car.svg) no-repeat 0 0;
    width: 22px;
    height: 11px;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
  }

  .itenaryMapOptionItem.walk::after{
    position: absolute;
    content: '';
    background: url(../../../../public/images/walk-icon.png) no-repeat 0 0;
    background-size: 100%;
    width: 26px;
    height: 26px;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%) rotateY(160deg);
  }

  .itenaryMapOptionItem.bike::after{
    position: absolute;
    content: '';
    background: url(../../../../public/images/motorbike-icon.png) no-repeat 0 0;
    background-size: 100%;
    width: 26px;
    height: 26px;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%) rotateY(160deg);
  }



@media (max-width: 991px) {

  
    .itenaryMapFrame iframe{
      height: 350px;
    }
  }
  
  @media screen and (max-width: 640px){

  
    .itenaryMapFrame iframe{
      height: 250px;
    }
  }