.personalDetails {
  font-family:
    Source Sans Pro,
    -apple-system,
    Roboto,
    Helvetica,
    sans-serif;
  /* padding: 0 37px; */
  flex-grow: 1;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 14px;
}

.title {
  color: var(--Negro-blue, #151820);
  font-size: 25px;
  font-weight: 600;
  margin: 0;
}

.subtitle {
  color: var(--Negro-blue, #151820);
  font-size: 16px;
  margin: 4px 0 0;
}

.profileImage {
  width: 70px;
  height: 70px;
  object-fit: cover;
  display: block;
}

.profileImageWrapper{
  border: solid 2px #F4C031;
  border-radius: 50%;
  overflow: hidden;
  position: relative;
}

.detailRow {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  margin: 20px 0;
}

.labelValue {
  display: flex;
  flex-grow: 1;
  /* flex-direction: column; */
}

.label {
  font-size: 16px;
  font-weight: 600;
  color: var(--Negro-blue, #151820);
  width: 160px;
  display: inline-block;
}

.value {
  font-size: 14px;
  color: var(--Negro-blue, #151820);
}

.verifiedBadge {
  background-color: rgba(218, 221, 245, 1);
  color: var(--Negro-blue, #151820);
  font-size: 12px;
  padding: 2px 8px;
  border-radius: 8px;
  display: inline-block;
  margin: 5px 0 0 15px;
}

.valueRow{
  display: flex;
  flex-direction: column;
  flex-grow: 1;
}

.valueRowTop{
  display: flex;
  align-items: center;
}

.actionButton {
  color: var(--Color-principal-azul, #212d94);
  background: none;
  border: none;
  font-size: 12px;
  text-decoration: underline;
  cursor: pointer;
}

.actionButton.cancelButton{
  text-decoration: none;
}

.separator {
  height: 1px;
  background-color: #e0e0e0;
  margin: 19px 0;
}

.emailNote {
  color: var(--Negro-blue, #151820);
  font-size: 10px;
  max-width: 331px;
  margin-top: 12px;
}

.editInput{
  max-width: 230px;
  width: 100%;
  border: solid 1px #828282;
  border-radius: 6px;
  height: 35px;
  padding: 8px;
  font-size: 14px;
  outline: none;
}

.valueRowFormGroup{
  display: flex;
  flex-direction: column;
  gap: 5px;
  font-size: 14px;
  flex-grow: 1;
  max-width: 230px;
  width: 100%;
}

.formNameGroup{
  display: flex;
  gap: 25px;
  flex-grow: 1;
}

.saveButtonWrapper{
  display: flex;
  width: 100%;
  justify-content: flex-end;
}

.saveButtonWrapper .saveButton{
  height: 40px;
  background: #F4C031;
  padding: 10px 44px;
  font-size: 16px;
  font-weight: 600;
  border-radius: 12px;
  text-decoration: none;
  color: #000;
  transition: all ease .3s;
}

.saveButtonWrapper .saveButton:hover {
  background-color: #e5b22e;
}

.galleryEditOverlay{
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background: #212D9466;
  /* display: none; */
  opacity: 0;
  transition: all ease .3s;
}

.profileImageWrapper:hover .galleryEditOverlay{
  /* display: block; */
  opacity: 1;
}

.galleryEdit{
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%,-50%);
  width: 20px;
  height: 20px;
  background: url(../../../public/images/gallery-edit.svg) no-repeat 0 0;
  cursor: pointer;
}

.phoneInput {
  display: flex;
  align-items: center;
  gap: 4px;
  border: 1px solid #828282;
  border-radius: 6px;
  position: relative;
}

.phoneCodeWrapper{
  position: relative;
  width: max-content;
  padding: 0 15px 0 10px;
  font-size: 14px;
}

.phoneInput input {
  border: none;
  padding-left: 0;
  height: 30px;
  padding: 0 6px;
  border-radius: 12px;
  font: 14px "Source Sans Pro", sans-serif;
  width: 100%;
  outline: none;
}

.phoneInput.open {
  border-radius: 6px 6px 0 0;
}

.phoneCodeWrapper::after{
  position: absolute;
  content: '';
  background: url(../../../public/images/down.svg) no-repeat 0 0;
  height: 7px;
  width: 12px;
  top: 50%;
  transform: translateY(-50%);
  right: 0;
}

.phoneCodeDropdownWrapperOuter {
  /* padding: 8px 14px; */
  position: absolute;
  top: calc(100% + 1px);
  left: -1px;
  width: calc(100% + 2px);
  border-radius: 0 0 5px 5px;
  border: 1px solid var(--Desactivado, #718295);
  border-top: none;
  background-color: #fff;
  z-index: 3;
}

.phoneCodeinputWrapper {
  padding: 8px 14px 8px;
}

.droplist {
  list-style: none;
  margin: 0;
  padding: 0 0 0;
  font-size: 14px;
  max-height: 200px;
  overflow-y: auto;
  width: calc(100% - 3px);
}

.droplist li {
  transition: all 0.3s ease-in-out;
  padding: 5px 10px;
}

.phoneCodeDropdownWrapperOuter .selectedItem {
  justify-content: space-between;
  align-items: center;
  border-radius: 8px;
  border: 0.5px solid var(--Gray-3, #828282);
  background-color: #fdfdfd;
  display: flex;
  min-height: 25px;
  width: 100%;
  gap: 40px;
  font-size: 14px;
  padding: 5px 26px 5px 16px;
  outline: none;
}

.inputWithIcon {
  padding: 5px;
  border: 1px solid #828282;
  border-radius: 6px;
  font-size: 14px;
  display: flex;
  align-items: center;
  max-width: 230px;
  width: 100%;
  height: 35px;
}

.inputWithIcon input {
  border: none;
  padding-left: 6px;
  padding-right: 0;
  outline: none;
  height: 30px;
}

.react-datepicker__close-icon {
  padding: 0 0px 0 0;
}

.valueRowTop .react-datepicker__close-icon {
  padding: 0 0px 0 0;
}


@media (max-width: 991px) {
  .personalDetails {
    padding: 0 20px;
    width: 100%;
  }

  .header {
    flex-direction: column;
    align-items: flex-start;
  }

  .profileImage {
    margin-top: 10px;
  }

  .detailRow {
    align-items: flex-start;
  }

  .actionButton {
    margin-top: 10px;
  }
}

@media (max-width:640px) {
  .labelValue{
    flex-direction: column;
    width: 100%;
  }
  
}

@media (max-width: 480px) {
  .detailRow {
    flex-direction: column;
  }

  .formNameGroup{
    flex-direction: column;
  }

  .valueRowFormGroup{
    max-width: 100%;
  }

  .editInput{
    max-width: 100%;
  }

  .valueRowTop{
    padding-top: 8px;
}
}
