.securityContent {
  flex-grow: 1;
  padding-left: 20px;
}

.title {
  font-size: 25px;
  font-weight: 600;
  color: var(--Negro-blue, #151820);
  margin: 0 0 5px;
}

.description {
  font-size: 16px;
  color: var(--Negro-blue, #151820);
  margin: 0 0 28px;
}

.divider {
  border: none;
  border-top: 1px solid var(--Gray-5, #e0e0e0);
  margin: 0px 0;
}

.securitySection {
  display: flex;
  justify-content: space-between;
  align-items: center;
  /* padding: 10px 0; */
  margin: 20px 0;
}

.sectionContent {
  flex-grow: 1;
  display: flex;
  /* margin: 20px 0; */
}

.sectionTitle {
  font-size: 16px;
  font-weight: 600;
  color: var(--Negro-blue, #151820);
  margin: 0 0 5px;
  width: 145px;
  flex-shrink: 0;
}

.sectionDescription {
  font-size: 14px;
  color: var(--Negro-blue, #151820);
  margin: 0;
}
/* Continuing from where we left off: */
.actionButton {
  background: none;
  border: none;
  color: var(--Color-principal-azul, #212d94);
  font-size: 12px;
  font-weight: 400;
  text-decoration: underline;
  cursor: pointer;
  padding: 5px;
  flex-shrink: 0;
}

.actionButton:hover {
  text-decoration: none;
}

.editInput{
  max-width: 260px;
  width: 100%;
  border: solid 1px #828282;
  border-radius: 6px;
  height: 35px;
  padding: 8px 36px 8px 8px;
  font-size: 14px;
  outline: none;
}

.valueRowFormGroup{
  display: flex;
  flex-direction: column;
  gap: 5px;
  font-size: 14px;
  flex-grow: 1;
}

.editFields{
  display: flex;
  flex-direction: column;
  gap: 10px;
  margin-bottom: 15px;
}

.saveButtonWrapper {
  display: flex;
  width: 100%;
  justify-content: flex-end;
  margin-bottom: 30px;
}

.saveButtonWrapper .saveButton:hover {
  background-color: #e5b22e;
}

.saveButtonWrapper .saveButton {
  height: 40px;
  background: #F4C031;
  padding: 10px 44px;
  font-size: 16px;
  font-weight: 600;
  border-radius: 12px;
  text-decoration: none;
  color: #000;
  transition: all ease .3s;
  border: none;
  outline: none;
}

.passwordInput{
  position: relative;
  display: flex;
  max-width: 260px;
  width: 100%;
}

.showPassword {
  position: absolute;
  background: url(../../../public/images/eye.svg) no-repeat 0 0;
  width: 22px;
  height: 16px;
  right: 10px;
  top: 50%;
  transform: translateY(-50%);
  cursor: pointer;
}

.showPassword.clicked::after {
  position: absolute;
  content: '';
  top: -3px;
  left: 0;
  width: 2px;
  height: 23px;
  background: #151820;
  transform: rotate(45deg) translateX(-50%);
  left: 50%;
}


@media (max-width: 991px) {
  .securityContent {
    padding-left: 0;
  }

  .securitySection {
    flex-direction: column;
    align-items: flex-start;
  }

  /* .actionButton {
    margin-top: 10px;
  } */
}

@media screen and (max-width:640px) {
  .sectionContent{
    flex-direction: column;
  }

  .sectionTitle{
    width: unset;
  }
}
