.sidebar {
  display: flex;
  flex-direction: column;
  padding: 26px 30px;
  border: 1px solid var(--Gray-4, #bdbdbd);
  border-radius: 6px;
  max-width: 408px;
  width: 100%;
}

.iconPlaceholder.active img{
  filter: brightness(0) saturate(100%) invert(10%) sepia(92%) saturate(2968%) hue-rotate(228deg) brightness(110%) contrast(88%);
}

.menuItem {
  display: flex;
  align-items: center;
  gap: 15px;
  margin-bottom: 50px;
  cursor: pointer;
}

.menuItem:last-child {
  margin-bottom: 0;
}

.iconPlaceholder {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  background-color: var(--Gray-6, #f2f2f2);
  display: flex;
  align-items: center;
  justify-content: center;
}

.label {
  font-family:
    Source Sans Pro,
    -apple-system,
    Roboto,
    Helvetica,
    sans-serif;
  font-size: 16px;
  color: var(--Negro-blue, #151820);
}

.activeLabel {
  color: var(--Color-principal-azul, #212d94);
  font-weight: 600;
  text-decoration: underline;
}

@media (max-width: 991px) {
  .sidebar {
    padding: 20px;
    max-width: 100%;
  }

  .menuItem {
    margin-bottom: 30px;
  }
}
