.mainContent {
  flex-grow: 1;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 14px;
}

.title {
  font-size: 25px;
  font-weight: 600;
  color: #000000;
}

.searchContainer {
  position: relative;
  max-width: 447px;
  width: 100%;
}

.searchInput {
  width: 100%;
  padding: 12px 14px 12px 40px;
  border: 1px solid #718295;
  border-radius: 12px;
  font-size: 14px;
  outline: none;
}

.searchIcon {
  position: absolute;
  left: 14px;
  top: 50%;
  transform: translateY(-50%);
  width: 24px;
  height: 24px;
}

.filters {
  display: flex;
  gap: 12px;
  margin-bottom: 14px;
}

.filterSelect {
  flex: 1;
  padding: 7px 14px;
  border: 1px solid #718295;
  border-radius: 6px;
  font-size: 14px;
  color: #000000;
}

.loginBanner {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: #212d94;
  border-radius: 12px;
  padding: 11px 28px;
  margin-bottom: 14px;
}

.loginBannerLeft{
  display: flex;
  align-items: center;
  gap: 20px;
}

.loginIcon {
  width: 50px;
  height: 50px;
}

.loginMessage {
  color: #fff;
  font-size: 14px;
  font-weight: 600;
}

.loginButton {
  background-color: #f4c031;
  color: #000000;
  border: none;
  border-radius: 12px;
  padding: 10px 27px;
  font-size: 16px;
  font-weight: 600;
  cursor: pointer;
  transition: all ease .3s;
}

.loginButtonWrapper{
  margin: 21px auto;
  display: flex;
  justify-content: center;
}

.loginButton:hover {
  background-color: #e5b22e;
}


.placesList {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.showMoreButton {
  display: block;
  width: 146px;
  margin: 21px auto;
  padding: 10px 16px;
  background-color: #fff;
  border: 1px solid #212d94;
  border-radius: 12px;
  font-size: 16px;
  font-weight: 600;
  color: #000001;
  cursor: pointer;
  transition: all ease .3s;
}

.showMoreButton:hover{
  border-color:#000 ;
  color: #212d94;
}

.recommendedPlaces {
  margin-top: 21px;
}

.recommendedTitle {
  font-size: 20px;
  font-weight: 600;
  color: #000000;
  margin: 0 0 34px;
}

.recommendedList {
  display: flex;
  gap: 28px;
}

.recommendedItem {
  width: 279px;
}

.recommendedImage {
  width: 100%;
  border-radius: 12px;
  margin-bottom: 0px;
  display: block;
}

.recommendedName {
  font-size: 14px;
  color: #000000;
  margin: 12px 0 0;
}

.promotionalBanner {
  /* display: flex; */
  border: 2px solid #212d94;
  border-radius: 24px;
  margin-top: 36px;
  margin-bottom: 80px;
  position: relative;
}

.promotionalBannerIn{
 
  overflow: hidden;
}

.promotionalBannerItem{
  display: flex;
  align-items: center;
}

.promotionalBannerItem img{
  max-width: 50%;
  flex-basis: 50%;
  height: 265px;
  display: block;
  border-radius: 22px 0 0 22px;
  flex-shrink: 0;
}

.promotionalImage {
  width: 50%;
  object-fit: cover;
}

.promotionalContent {
  width: 50%;
  padding:0px 96px 0 48px;
  display: flex;
  flex-direction: column;
}

.promotionalTitle {
  font-size: 32px;
  font-weight: 700;
  color: #000000;
  margin-bottom: 14px;
}

.promotionalText {
  font-size: 14px;
  line-height: 1.5;
  color: #000000;
  margin-bottom: 24px;
}

.exploreButton {
  background-color: #f4c031;
  color: #000000;
  border: none;
  border-radius: 12px;
  padding: 10px 16px;
  font-size: 16px;
  font-weight: 600;
  cursor: pointer;
  transition: all ease .3s;
}

.exploreButton:hover {
  background-color: #e5b22e;
}

.placesSelectedItemsList{
  padding: 0 0 14px 0;
  display: flex;
  gap: 10px;
  /* flex-wrap: wrap; */
  align-items: flex-start;
  justify-content: space-between;
}
.placesSelectedItemsListLeft{
  display: flex;
  gap: 10px;
  flex-wrap: wrap;
}

.placesClearFilter {
  font-size: 12px;
  flex-shrink: 0;
  cursor: pointer;
  padding-top: 8px;
}

.placesListbreaker {
  display: block;
  /* border: red solid 1px;
  height: 1px; */
}


.placesSelectedItem{
  border: solid 1px #F4C031;
  border-radius: 8px;
  padding: 6px 12px 6px 12px;
  font-size: 12px;
  color: #151820;
  display: flex;
  gap: 6px;
  align-items: center;
}

.placesSelectedClose{
  background: url(../../../public/images/close.png) no-repeat 0 0;
  background-size: 100%;
  width: 10px;
  height: 9px;
  cursor: pointer;
}



.filterButton{
  background-color: #f4c031;
  color: #000000;
  border: none;
  border-radius: 12px;
  padding: 15px 42px;
  font-size: 15px;
  font-weight: 600;
  cursor: pointer;
  transition: all ease .3s;
  flex-shrink: 0;
}

.loginButton:hover,.filterButton:hover {
  background-color: #e5b22e;
}

:global(.slick-slide) {
  margin: 0;
  padding: 0;
  line-height: 0;
}

:global(.slick-dots li){
      width: 12px;
     height: 12px;
}

:global(.slick-dots li button) {
  font-size: 0;
  width: 12px;
  height: 12px;
}

:global(.slick-dots li button:before) {
  font-size: 0px ;
  width: 12px;
  height: 12px;
  background: #D9D9D9;
  opacity: 1;
  border-radius: 50%;
}

:global(.slick-dots li.slick-active button:before){
  opacity: 1;
  background: #212D94;
}

.promotionalBanner :global(.slick-slider){
  margin: 0 !important;
}

:global(.slick-dots ul){
  padding: 0;
}

@media (max-width: 991px) {
  .header,
  .filters {
    flex-direction: column;
    align-items: stretch;
  }

  .searchContainer {
    width: 100%;
    margin-top: 10px;
  }

  .loginBanner {
    flex-direction: column;
    text-align: center;
    gap: 10px;
  }

  .recommendedList {
    flex-direction: column;
    align-items: center;
  }

  .promotionalBanner {
    flex-direction: column;
  }

  .promotionalImage,
  .promotionalContent {
    width: 100%;
  }

  .placesList {
    flex-direction: row;
    flex-wrap: wrap;
  }


  .filterButton {
    padding: 10px 24px;
  }

  .promotionalBannerItem img{
    height: 100%;
    max-height: 350px;
  }


}

@media screen and (max-width: 768px) {
  .promotionalContent {
    padding: 0px 48px 0 24px;
  }
  
  .placesList {
    flex-direction: column; 
  }

}

@media screen and (max-width: 640px) {
  .promotionalBannerItem{
    flex-direction: column;
  }
  
  .promotionalBannerItem img {
    max-width: 100%;
    flex-basis: 100%;
    border-radius: 22px 22px 0 0;
    max-height: 250px;
  }
  
  .promotionalContent {
    padding: 24px;
  }
}

