.destinationGrid {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 20px;
  margin-top: 20px;
}

.showMoreButton {
  display: block;
  width: 146px;
  margin: 21px auto;
  padding: 10px 16px;
  background-color: #fff;
  border: 1px solid #212d94;
  border-radius: 12px;
  font-size: 16px;
  font-weight: 600;
  color: #212d94;
  cursor: pointer;
  transition: all ease .3s;
}

@media (max-width: 1200px) {
  .destinationGrid {
    grid-template-columns: repeat(3, 1fr);
  }
}

@media (max-width: 991px) {
  .destinationGrid {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media (max-width: 576px) {
  .destinationGrid {
    grid-template-columns: 1fr;
  }
}
