.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 16px 0;
  background-color: #fff;
  color: #000000;
  position: relative;
}

.homeHeader{
  background-color: transparent ;
  padding: 0;
}

.logoContainer {
  display: flex;
  align-items: center;
  gap: 42px;
}

.homeHeader .logoCommon{
  display: none;
}

.logoAuth{
  display: none;
}

.homeHeader .logoAuth{
  display: block;
}

.logo {
  width: 60px;
  height: 50px;
  object-fit: contain;
  cursor: pointer;
}

.homeHeader .logo{
  width: 85px;
  height: auto;
}

.homeHeader .mainNav{
  display: none;
}

.mainNav {
  display: flex;
  gap: 28px;
}

.navButton {
  border: none;
  background: none;
  font-size: 14px;
  font-weight: 400;
  cursor: pointer;
  padding: 7px 12px;
  border-radius: 12px;
}

.userActions {
  display: flex;
  align-items: center;
  gap: 16px;
}

.iconContainer {
  display: flex;
  align-items: center;
  gap: 14px;
}

.icon {
  width: 20px;
  height: 20px;
  object-fit: contain;
  cursor: pointer;
  display: block;
}

.helpIcon{
  display: none;
}

.homeHeader .helpIcon{
  display: block;
}

.homeHeader .icon{
  width: 30px;
  height: 30px;
}

.homeHeader .favouriteicon,.homeHeader .secondaryNav,.homeHeader .btnLogin,.homeHeader .mob-nav-container{
  display: none;
}

.homeHeader .iconContainer{
  gap: 28px;
}

.secondaryNav {
  display: flex;
  align-items: center;
  gap: 14px;
  font-size: 16px;
  font-weight: 600;
}

.navLink {
  text-decoration: none;
  color: inherit;
  transition: all ease .3s;
  cursor: pointer;
}

.navLink:hover {
  color: #212d94;
}

.divider {
  width: 1px;
  height: 20px;
  background-color: #151820;
}

.userIcon {
  width: 34px;
  height: 34px;
  object-fit: cover;
  border-radius: 50%;
  cursor: pointer;
}

.languageContainer{
  position: relative;
  cursor: pointer;
}

.navItemActive  {
  background-color: rgba(232, 234, 244, 1);
  color: rgba(21, 24, 32, 1);
}

.secondaryNav .navItemActive{
  background-color: transparent;
  color: #212d94;
}

.navButton:hover{
  color: #212d94;
}

.profileIconWrapper{
  position: relative;
}

@media (max-width: 991px) {
  .header {
    /* padding: 12px 0px; */
    /* flex-wrap: wrap; */
    gap: 10px;
  }

  .logoContainer {
    flex-wrap: wrap;
  }

  .mainNav {
    flex-wrap: wrap;
    display: none;
  }

  .userActions {
    margin-top: 10px;
  }

  .secondaryNav {
    display: none;
  }
}
