.myTrips {
  background-color: #fff;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

.mainContent {
  flex: 1;
  max-width: 1200px;
  margin: 0 auto;
  padding: 40px 20px;
  width: 100%;
}

.titleSection {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 8px;
}

.pageTitle {
  color: #000;
  font-size: 25px;
  font-weight: 600;
  font-family:
    Source Sans Pro,
    -apple-system,
    Roboto,
    Helvetica,
    sans-serif;
    margin: 0;
}

.addTripButton {
  background-color: #f4c031;
  border: none;
  border-radius: 12px;
  padding: 10px 34px;
  font-size: 15px;
  color: #151820;
  font-weight: 600;
  cursor: pointer;
  transition:all ease .3s ;
}

.addTripButton:hover {
  background-color: #e5b22e;
}

.divider {
  height: 1px;
  background-color: #e0e0e0;
  margin-bottom: 20px;
}

@media (max-width: 991px) {
  .titleSection {
    gap: 20px;
  }

}
