.travelItineraryContainer {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  background-color: #fff;
  font-family:
    Source Sans Pro,
    -apple-system,
    Roboto,
    Helvetica,
    sans-serif;
}

.mainContent {
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 40px 70px;
  max-width: 1200px;
  margin: 0 auto;
  width: 100%;
}

.dropdown {
  display: flex;
  width: 100%;
  flex-direction: column;
  position: relative;
  max-width: 222px;
}

.dropdown.disabled .filterHeader {
  background-color: #F2F2F2;
  pointer-events: none
}

.filterBlock {
  border-radius: 0;
  display: flex;
  width: 100%;
  flex-direction: column;
}

.filterHeader {
  border-radius: 6px 6px 6px 6px;
  border: 1px solid #F4C031;
  background-color: #fff;
  display: flex;
  width: 100%;
  align-items: center;
  justify-content: space-between;
  padding: 4px 15px;
  height: 40px;
}

.filterHeader.open {
  border-radius: 6px 6px 0 0;
}

.filterHeaderContent {
  display: flex;
  flex-direction: column;
}

.filterLabel {
  color: var(--Gray-4, #bdbdbd);
  font-size: 10px;
}

.title {
  color: var(--Negro-blue, #151820);
  font-size: 14px;
  margin-top: 0px;
  margin-bottom: 6px;
  font-weight:normal ;
}

.dropdownIcon {
  aspect-ratio: 1;
  object-fit: contain;
  object-position: center;
  width: 16px;
  /* margin-top: 8px; */
  transform: rotate(180deg);
  transition: transform 0.3s ease-in-out;
}

.filterHeader.open .dropdownIcon {
  transform: rotate(0deg);
}

.filterContent {
  border-radius: 0 0 5px 5px;
  border: 1px solid var(--Desactivado, #F4C031);
  border-top: none;
  background-color: #fff;
  display: flex;
  width: 100%;
  flex-direction: column;
  align-items: flex-start;
  font-size: 12px;
  color: #000;
  /* padding: 8px 0; */
  display: none;
  position: absolute;
  top: 40px;
  left: 0px;
  z-index: 2;
  overflow:hidden ;
}


.filterContent.active {
  display: block;
}


.selectedItem {
  justify-content: space-between;
  align-items: center;
  border-radius: 8px;
  border: 0.5px solid var(--Gray-3, #828282);
  background-color: #fdfdfd;
  display: flex;
  min-height: 36px;
  width: 100%;
  gap: 40px;
  font-size: 14px;
  padding: 5px 26px 5px 16px;
  outline: none;
}

.selectedItemContent {
  display: flex;
  align-items: center;
}

.selectedItemText {
  margin: auto 0;
}


.filterselectedItem{
  display: flex;
  gap: 5px;
  align-items: center;
  position: relative;
  width: 100%;
  padding: 0 14px 8px;
}

.filterChecklist{
  list-style: none;
  margin: 0;
  padding:0 0 0;
  font-size: 16px;
  max-height: 120px;
  overflow-y: auto;
}

.filterChecklist li:not(:last-child){
  /* padding-bottom: 10px; */
}

.filterChecklist li{
  transition: all 0.3s ease-in-out;
  padding: 8px 14px;
  cursor: pointer;
}
.filterChecklist li:hover{
  background-color: #EBEEF2;
}

.filterChecklist .checkContainer{
  font-size: 16px;
  padding-left: 17px;
}


.filterselectedInputWrapper{
  position: relative;
}

.filterNoResults{
  font-size: 13px;
  text-align: center;
}

@media (max-width: 991px) {
  .mainContent {
    padding: 20px;
  }
}
