.itineraryPage {
  font-family:
    Source Sans Pro,
    -apple-system,
    Roboto,
    Helvetica,
    sans-serif;
  background-color: #fff;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.mainContent {
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 0 20px;
}

.loginButton {
  background-color: #f4c031;
  color: #000000;
  border: none;
  border-radius: 12px;
  padding: 10px 27px;
  font-size: 16px;
  font-weight: 600;
  cursor: pointer;
  transition: all ease .3s;
}

.loginButtonWrapper{
  margin: 21px auto;
  display: flex;
  justify-content: center;
}

.loginButton:hover {
  background-color: #e5b22e;
}

@media (max-width: 991px) {
  .mainContent {
    padding: 0 10px;
  }
}
