.reviewSection {
  margin: 26px 0;
  /* padding: 0 20px; */
}

.reviewHeader {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  margin-bottom: 18px;
}

.reviewTitle {
  font-size: 20px;
  color: #000;
  margin: 0 0 14px;
}

.ratingBlock {
  display: flex;
  align-items: center;
  gap: 10px;
}

.ratingScore {
  background-color: #212d94;
  color: #fff;
  padding: 9px 14px;
  border-radius: 3px;
  font-size: 18px;
}

.stars {
  display: flex;
  gap: 3px;
}

.starIcon {
  width: 21px;
  height: 21px;
}

.reviewCount {
  font-size: 16px;
  color: #000;
}

.addReviewButton,
.viewAllButton {
  background-color: #f4c031;
  border: none;
  border-radius: 12px;
  padding: 15px 16px;
  color: #151820;
  font-size: 16px;
  font-weight: 600;
  cursor: pointer;
  transition: all ease .3s;
}

.addReviewButton:hover,
.viewAllButton:hover {
  background-color: #e5b22e;
}

.tagContainer {
  margin-bottom: 18px;
  display: flex;
  gap: 12px;
  flex-wrap: wrap;
}

.tag {
  display: inline-block;
  border: 1px solid #f4c031;
  border-radius: 12px;
  padding: 5px 16px;
  font-size: 14px;
  color: #151820;
}

.reviewList {
  display: flex;
  flex-wrap: wrap;
  gap: 28px;
  margin-bottom: 24px;
}

.reviewCard {
  flex: 1 1 calc(33.333% - 28px);
  border: 1px solid #212d94;
  border-radius: 6px;
  padding: 12px;
  height: 175px;
}

.reviewHeader {
  display: flex;
  align-items: center;
  gap: 9px;
  margin-bottom: 12px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.reviewHeaderLeft{
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 9px;
}

.reviewerNameDetails{
  display: flex;
  flex-direction: column;
  gap: 14px;
}

.stars img{
  width: 12px;
}

.avatar {
  width: 30px;
  height: 30px;
  object-fit: contain;
  border-radius: 50%;
}

.reviewerName {
  font-size: 12px;
  color: #151820;
  margin: 0;
  font-weight: normal;
}

.reviewDate {
  font-size: 10px;
  color: #000;
}

.reviewContent {
  font-size: 10px;
  color: #151820;
  line-height: 1.4;
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 5;
  -webkit-box-orient: vertical;
}

/* .reviewWrapper {
  padding-bottom: 24px;
} */

.reviewCardWrapper {
  padding: 0 7px !important;
}


.reviewWrapper :global(.slick-next), 
.reviewWrapper :global(.slick-prev) {

  top: 50% !important;
}

.reviewWrapper :global(.slick-track){
  margin-left: 0 !important; 
  margin-right: 0 !important;
}

.editIcon{
  width: 14px;
  height: 14px;
  background: url(../../../public/images/edit-icon.svg) no-repeat 0 0;
  background-size: 100%;
  cursor: pointer;
}

.deleteIcon{
  width: 14px;
  height: 14px;
  background: url(../../../public/images/delete-icon.svg) no-repeat 0 0;
  background-size: 100%;
  cursor: pointer;
}

.reviewHeaderRight{
  display: flex;
  gap: 5px;
  align-items: center;
}


@media (max-width: 991px) {
  

  .addReviewButton {
    margin-top: 10px;
  }

  .reviewCard {
    flex: 1 1 100%;
  }

  .reviewSection {
    padding: 0 ;
  }
}


@media (max-width:640px) {
  .reviewHeader{
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    flex-direction: column;
}
}