.heroContainer {
  width: 50%;
}

.heroImage {
  width: 100%;
  height: 924px;
  object-fit: cover;
}

@media (max-width: 991px) {
  .heroContainer {
    width: 100%;
  }
}

@media (max-width: 640px) {
  .heroImage {
    height: 300px;
  }
}
