.pageContainer {
  background-color: #fff;
  overflow: hidden;
}

.contentWrapper {
  flex-direction: column;
  justify-content: start;
  align-items: stretch;
  width: 100%;
  display: flex;
}

@media (width<=991px) {
  .contentWrapper {
    max-width: 100%;
  }
}

.mainContent {
  width: 100%;
}

@media (width<=991px) {
  .mainContent {
    max-width: 100%;
  }
}

.bottomSections {
  flex-direction: column;
  justify-content: start;
  align-items: stretch;
  width: 100%;
  margin-top: 123px;
  display: flex;
}

@media (width<=991px) {
  .bottomSections {
    max-width: 100%;
    margin-top: 40px;
  }
}

.footerWrapper {
  width: 100%;
  margin-top: 66px;
}

@media (width<=991px) {
  .footerWrapper {
    max-width: 100%;
    margin-top: 40px;
  }
}
