.contactBanner {
  text-align: center;
  background-color: #212d94;
  flex-direction: column;
  justify-content: start;
  align-items: stretch;
  width: 100%;
  padding: 60px 439px 60px 434px;
  display: flex;
  overflow: hidden;
}

@media (width <= 991px) {
  .contactBanner {
    max-width: 100%;
    padding-left: 20px;
    padding-right: 20px;
  }
}

.contactContent {
  color: #fff;
  width: 100%;
}

@media (width <= 991px) {
  .contactContent {
    max-width: 100%;
  }
}

.contactTitle {
  font-family:
    Montserrat,
    -apple-system,
    Roboto,
    Helvetica,
    sans-serif;
  font-size: 32px;
  font-weight: 600;
}

@media (width <= 991px) {
  .contactTitle {
    max-width: 100%;
  }
}

.contactDescription {
  margin-top: 20px;
  font-family:
    Source Sans Pro,
    -apple-system,
    Roboto,
    Helvetica,
    sans-serif;
  font-size: 18px;
  font-weight: 400;
}

@media (width <= 991px) {
  .contactDescription {
    max-width: 100%;
  }
}

.contactButtonWrapper {
  color: #151820;
  white-space: nowrap;
  align-self: center;
  width: 146px;
  max-width: 100%;
  margin-top: 36px;
  font-family:
    Source Sans Pro,
    -apple-system,
    Roboto,
    Helvetica,
    sans-serif;
  font-size: 15px;
  font-weight: 600;
}

@media (width <= 991px) {
  .contactButtonWrapper {
    white-space: initial;
  }
}

.contactButton {
  color: #151820;
  leading-trim: both;
  text-edge: cap;
  background-color: #f4c031;
  border-radius: 12px;
  align-self: stretch;
  gap: 8px;
  min-height: 40px;
  padding: 15px 16px;
  overflow: hidden;
}

@media (width <= 991px) {
  .contactButton {
    white-space: initial;
  }
}
