.faqContainer {
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: start;
  width: 100%;
  margin-top: 50px;
  display: flex;
}

@media (width <= 991px) {
  .faqContainer {
    max-width: 100%;
    margin-top: 40px;
  }
}

.faqTitle {
  color: #151820;
  flex: 1;
  font-family:
    Montserrat,
    -apple-system,
    Roboto,
    Helvetica,
    sans-serif;
  font-size: 32px;
  font-weight: 700;
  line-height: 1;
}

@media (width <= 991px) {
  .faqTitle {
    max-width: 100%;
  }
}

.faqList {
  width: 505px;
  min-width: 240px;
  font-family:
    Source Sans Pro,
    -apple-system,
    Roboto,
    Helvetica,
    sans-serif;
  font-size: 20px;
  font-weight: 600;
}

@media (width <= 991px) {
  .faqList {
    max-width: 100%;
  }
}
