.topicsSection {
  width: 100%;
  margin-top: 46px;
  padding-left: 120px;
  padding-right: 120px;
}

@media (width <= 991px) {
  .topicsSection {
    max-width: 100%;
    margin-top: 40px;
    padding-left: 20px;
    padding-right: 20px;
  }
}

.sectionHeader {
  color: #151820;
  flex-wrap: wrap;
  justify-content: start;
  align-items: center;
  gap: 40px 72px;
  width: 100%;
  font-family:
    Source Sans Pro,
    -apple-system,
    Roboto,
    Helvetica,
    sans-serif;
  font-size: 20px;
  font-weight: 600;
  display: flex;
}

@media (width <= 991px) {
  .sectionHeader {
    max-width: 100%;
  }
}

.leftDivider {
  background-color: #bdbdbd;
  border: 1px solid #bdbdbd;
  flex-shrink: 0;
  align-self: stretch;
  width: 429px;
  min-width: 240px;
  height: 1px;
  margin-top: auto;
  margin-bottom: auto;
}

.sectionTitle {
  color: #151820;
  align-self: stretch;
  margin-top: auto;
  margin-bottom: auto;
}

.rightDivider {
  background-color: #bdbdbd;
  border: 1px solid #bdbdbd;
  flex: 1;
  align-self: stretch;
  width: 428px;
  min-width: 240px;
  height: 0;
  margin-top: auto;
  margin-bottom: auto;
}

.topicsContainer {
  width: 100%;
  margin-top: 18px;
}

@media (width <= 991px) {
  .topicsContainer {
    max-width: 100%;
  }
}

.topicsGrid {
  flex-wrap: wrap;
  justify-content: start;
  align-items: center;
  gap: 28px;
  width: 100%;
  padding-left: 120px;
  padding-right: 120px;
  display: flex;
}

@media (width <= 991px) {
  .topicsGrid {
    max-width: 100%;
    padding-left: 20px;
    padding-right: 20px;
  }
}

.dividerContainer {
  color: #151820;
  width: 100%;
  margin-top: 30px;
}

@media (width <= 991px) {
  .dividerContainer {
    max-width: 100%;
  }
}

.fullDivider {
  background-color: #bdbdbd;
  border: 1px solid #bdbdbd;
  width: 100%;
  min-height: 0;
}

@media (width <= 991px) {
  .fullDivider {
    max-width: 100%;
  }
}
