.topicCard {
  background-color: #fafaff;
  border-radius: 6px;
  flex-direction: column;
  flex-grow: 1;
  flex-shrink: 1;
  justify-content: start;
  align-self: stretch;
  align-items: stretch;
  width: 175px;
  min-height: 170px;
  margin-top: auto;
  margin-bottom: auto;
  padding: 45px 73px 8px 74px;
  display: flex;
  overflow: hidden;
}

@media (width <= 991px) {
  .topicCard {
    padding-left: 20px;
    padding-right: 20px;
  }
}

.topicIcon {
  align-self: center;
  width: 40px;
  overflow: hidden;
}

.vectorIcon {
  width: 100%;
  min-height: 40px;
  display: flex;
}

.topicImage {
  aspect-ratio: 1;
  object-fit: contain;
  object-position: center;
  align-self: center;
  width: 38px;
}

.topicName {
  color: #151820;
  margin-top: 20px;
  font-family:
    Source Sans Pro,
    -apple-system,
    Roboto,
    Helvetica,
    sans-serif;
  font-size: 16px;
  font-weight: 600;
}

.ticketIcon {
  align-self: center;
  width: 38px;
  min-height: 38px;
  display: flex;
}

.heartIcon {
  align-self: center;
  width: 32px;
  min-height: 32px;
  display: flex;
}
