.articlesSection {
  background-color: rgba(250, 250, 255, 1);
  /* padding: 28px 104px; */
  padding: 28px 0;
  color: #000000;
}


.articlesSection.blogArticlesSection:first-child{
  padding: 24px 0 0;
}

.articlesSection.blogArticlesSection{
  padding: 20px 0 20px;
  background: transparent;
}

.articlesSection.blogArticlesSection:last-child{
  padding: 20px 0 70px;
}

.sectionHeader {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 10px;
  padding-bottom: 24px;
}


.sectionTitle {
  font-size: 24px;
  font-weight: 600;
  margin: 0;
  color: #151820;
}

.seeMoreLink {
  font-size: 14px;
  font-weight: 400;
  text-decoration: underline;
  color: inherit;
  cursor: pointer;
}

.articlesList {
  display: flex;
  gap: 27px;
  flex-wrap: wrap;
  margin-top: 24px;
}

.articleCard {
  width: calc(25% - 20.25px);
  /* min-width: 240px; */
  padding: 0 14px !important;
}

.articlesSlider :global(.slick-next),
.articlesSlider :global(.slick-prev) {
  top: 75px !important;
}

.articleImage {
  width: 100%;
  height: 150px;
  /* aspect-ratio: 1.86; */
  object-fit: cover;
  border-radius: 12px;
}

.articleTag {
  display: inline-block;
  margin-top: 8px;
  padding: 5px 12px;
  border-radius: 8px;
  border: 1px solid var(--Color-principal-naranja, #f4c031);
  font-size: 12px;
  line-height: 1;
  cursor: pointer;
}

.articleTitle {
  font-size: 14px;
  line-height: 16px;
  font-weight: 600;
  margin: 8px 0 4px;
}

.articleExcerpt {
  font-size: 12px;
  line-height: 16px;
  font-weight: 400;
  margin: 0;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: initial;
  display: -webkit-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
}

.tagsContainer{
  display: flex;
  gap: 5px;
}

:global(.slick-track){
  margin: 0 !important;
}

@media (max-width: 991px) {
  .articlesSection {
    /* padding: 28px 20px; */
  }

  .articlesList {
    justify-content: center;
  }

  .articleCard {
    width: calc(50% - 13.5px);
  }

  
  .articlesSlider :global(.slick-next),
  .articlesSlider :global(.slick-prev) {
    top: 122px !important;
  }

  .articleImage {
    height: 240px;
  }

  

}

@media (max-width: 768px) {
  .articleImage{
    height: 180px;
  }

  
.articlesSlider :global(.slick-next),
.articlesSlider :global(.slick-prev) {
  top: 90px !important;
}
}

@media (max-width: 480px) {
  .articleCard {
    width: 100%;
  }

  .sectionHeader {
    flex-wrap: wrap;
  }
}
