.eventCard {
  display: flex;
  padding: 8px 12px;
  border: 1px solid #828282;
  border-radius: 12px;
  background-color: #fff;
  position: relative;
}

.eventImage {
  width: 180px;
  height: 124px;
  border-radius: 12px;
  object-fit: cover;
}

.favoriteButton {
  position: absolute;
  left: 168px;
  top: 12px;
  background: none;
  border: none;
  cursor: pointer;
  padding: 0;
}

.eventInfo {
  flex: 1;
  padding: 7px 16px 7px 0px;
}

.eventTitle {
  color: #000;
  margin: 0 0 4px;
  font: 16px "Source Sans Pro", sans-serif;
}

.eventLocation,
.eventDate,
.eventCategory {
  color: #000;
  margin: 0 0 4px;
  font: 10px "Source Sans Pro", sans-serif;
}

.eventCategory {
  margin-top: 42px;
}

.eventActions {
  display: flex;
  flex-direction: column;
  gap: 8px;
  margin-left: auto;
}

.viewMoreButton {
  padding: 12px 16px;
  border-radius: 12px;
  border: none;
  color: #151820;
  cursor: pointer;
  background-color: #f4c031;
  font: 600 15px "Source Sans Pro", sans-serif;
}

.addIcon {
  width: 20px;
  height: 20px;
  /* border: solid 1px #212d94; */
  margin-right: 8px;
  position: relative;
  background: url(../../../images/add-icon.png);
}

.addToTripButton {
  display: flex;
  align-items: center;
  justify-content: center;
  /* gap: 8px; */
  padding: 12px 16px;
  border: 1px solid #212d94;
  border-radius: 12px;
  color: #151820;
  cursor: pointer;
  background-color: #fff;
  font: 600 15px "Source Sans Pro", sans-serif;
}


.favIcon {
  position: absolute;
  width: 24px;
  height: 24px;
  background: #fff;
  border-radius: 50%;
  top: 5px;
  right: 5px;
  transition: all ease .3s;
}

.favIcon::after {
  position: absolute;
  content: '';
  background: url(../../../images/heart.svg) no-repeat 0 0;
  top: 6px;
  left: 5px;
  /* transform: translate(-50%,-50%); */
  width: 14px;
  height: 13px;
  cursor: pointer;
}

.favIcon.clicked::after {
  background: url(../../../images/heart-fill.png) no-repeat 0 0;
}

.eventImageContainer {
  position: relative;
  margin-right: 16px;
}

.loaderOverlay {
  position: absolute;
  left: 0;
  top: 0;
  width: calc(100% - 16px);
  height: 100%;
  background: rgba(255, 255, 255, 0.5);
}

.loaderToCenter {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

@media (max-width: 640px) {
  .eventCard {
    flex-direction: column;
    /* align-items: center; */
    /* text-align: center; */
  }

  .eventImageContainer {
    width: 100%;
  }


  .eventImage {
    width: 100%;
    height: auto;
    border-radius: 6px;
  }

  .favoriteButton {
    left: auto;
    right: 12px;
  }

  .eventActions {
    width: 100%;
    margin-top: 20px;
  }
}