.destinationFilter > div {
    flex-grow: 1;
    max-width: 240px;
  }
  
  .destinationFilter {
    display: flex;
    gap: 10px;
    justify-content: flex-end;
    /* margin-bottom: 14px; */
  }
  .placesFilterContainer {
    margin-bottom: 14px;
  }
  
  .dropdown {
    display: flex;
    width: 100%;
    flex-direction: column;
    position: relative;
  }
  
  .filterBlock {
    border-radius: 0;
    display: flex;
    width: 100%;
    flex-direction: column;
  }
  
  .filterHeader {
    border-radius: 6px 6px 6px 6px;
    border: 1px solid var(--Desactivado, #718295);
    background-color: #fff;
    display: flex;
    width: 100%;
    align-items: flex-start;
    justify-content: space-between;
    padding: 4px 15px;
  }
  
  .filterHeader.open {
    border-radius: 6px 6px 0 0;
  }
  
  .filterHeaderContent {
    display: flex;
    flex-direction: column;
  }
  
  .filterLabel {
    color: var(--Gray-4, #bdbdbd);
    font-size: 10px;
  }
  
  .filterTitle {
    color: var(--Negro-blue, #151820);
    font-size: 14px;
    margin-top: 0px;
  }
  
  .dropdownIcon {
    aspect-ratio: 1;
    object-fit: contain;
    object-position: center;
    width: 16px;
    margin-top: 8px;
    transform: rotate(180deg);
    transition: transform 0.3s ease-in-out;
  }
  
  .filterHeader.open .dropdownIcon {
    transform: rotate(0deg);
  }
  
  .filterContent {
    border-radius: 0 0 5px 5px;
    border: 1px solid var(--Desactivado, #718295);
    border-top: none;
    background-color: #fff;
    display: flex;
    width: 100%;
    flex-direction: column;
    align-items: flex-start;
    font-size: 12px;
    color: #000;
    padding: 8px 0;
    display: block;
    position: absolute;
    top: 41px;
    left: 0px;
    z-index: 2;
  }
  
  .filterContent.active {
    display: block;
  }
  
  
  .selectedItem {
    justify-content: space-between;
    align-items: center;
    border-radius: 8px;
    border: 0.5px solid var(--Gray-3, #828282);
    background-color: #fdfdfd;
    display: flex;
    min-height: 36px;
    width: 100%;
    gap: 40px;
    font-size: 14px;
    padding: 5px 26px 5px 16px;
    outline: none;
  }
  
  .selectedItemContent {
    display: flex;
    align-items: center;
  }
  
  .selectedItemText {
    margin: auto 0;
  }
  
  .selectedItemDivider {
    background-color: #151820;
    width: 2px;
    height: 16px;
    margin: auto 0;
  }
  
  .closeIcon {
    width: 14px;
    height: 14px;
    margin: auto 0;
    position: absolute;
    right: 8px;
    top: 50%;
    transform: translateY(-50%);
    background: url(../../../public/images/close.png) no-repeat 0 0;
    cursor: pointer;
  }
  
  .checkboxItem {
    display: flex;
    margin-top: 8px;
    align-items: center;
    gap: 4px;
  }
  
  .checkbox {
    border-radius: 2px;
    border: 1px solid var(--Gray-3, #828282);
    background-color: #fff;
    width: 12px;
    height: 12px;
  }
  
  .checkboxLabel {
    margin: auto 0;
  }
  
  
  
  
  .filterselectedItem{
    display: flex;
    gap: 5px;
    align-items: center;
    position: relative;
    width: 100%;
    padding: 0 14px 8px;
  }
  
  .filterChecklist{
    list-style: none;
    margin: 0;
    padding:0 0 0;
    font-size: 16px;
    max-height: 320px;
    overflow-y: auto;
  }
  
  .filterChecklist li:not(:last-child){
    /* padding-bottom: 10px; */
  }
  
  .filterChecklist li{
    transition: all 0.3s ease-in-out;
    padding: 8px 14px;
    cursor: pointer;
  }
  .filterChecklist li:hover{
    background-color: #EBEEF2;
  }
  
  .filterChecklist .checkContainer{
    font-size: 16px;
    padding-left: 17px;
  }
  
  .dropdown.disabled {
    pointer-events: none;
    opacity: 0.6;
  }
  
  
  @media screen and (max-width: 991px) {
    .destinationFilter > div {
      max-width: unset;
    }
  }
  
  @media (max-width: 768px) {
    .destinationFilter > div {
      max-width: 100%;
    }
    .destinationFilter {
      flex-direction: column;
    }
    .filterContent {
      position: unset;
    }
  }
  
  