.placeCard {
  display: flex;
  background-color: #fff;
  border: 1px solid #828282;
  border-radius: 12px;
  padding: 8px;
  align-items: stretch;
  position: relative;
  /* cursor: pointer; */
}

.popupPlaceCard{
  max-width: max-content;
  min-width: 394px;
  width: 100%;
  flex-shrink: 0;
}


.placeImage {
  width: 180px;
  height: 124px;
  object-fit: cover;
  border-radius: 8px;
  margin-right: 16px;
}

.placeInfo {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 6px 0;
}

.placeName {
  font-size: 16px;
  font-weight: 600;
  color: #000000;
  margin: 0 0 4px 0;
}

.placeLocation,
.placeCategory {
  font-size: 12px;
  color: #000000;
  margin: 0 0 4px 0;
}

.placeRating {
  display: flex;
  align-items: center;
  margin-top: 8px;
}

.ratingScore {
  background-color: #212d94;
  color: #fff;
  font-size: 16px;
  font-weight: 600;
  padding: 5px 10px;
  border-radius: 5px;
  margin-right: 8px;
}

.ratingInfo {
  font-size: 10px;
  color: #000000;
}

.ratingText {
  font-weight: 600;
}

.placeActions {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 146px;
  gap: 8px;
}

.viewMoreButton,
.addToTripButton {
  width: 100%;
  padding: 10px 13px;
  border-radius: 12px;
  font-size: 15px;
  font-weight: 600;
  text-align: center;
  cursor: pointer;
}

.viewMoreButton {
  background-color: #f4c031;
  color: #000000;
  border: none;
  /* margin-bottom: 8px; */
  transition: all ease .3s;
}

.viewMoreButton:hover{
  background-color: #e5b22e;
}

.addToTripButton {
  background-color: #fff;
  color: #000000;
  border: 1px solid #212d94;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: all ease .3s;
}

.addToTripButton:hover{
  border-color: #000;
  color: #212d94;
}

.addIcon {
  width: 20px;
  height: 20px;
  /* border: solid 1px #212d94; */
  margin-right: 8px;
  position: relative;
  background: url(../../../images/add-icon.png);
}

.placeImageContainer{
  position: relative;
}

.loaderOverlay{
    position: absolute;
    left: 0;
    top: 0;
    width: calc(100% - 16px);
    height: 100%;
    background: rgba(255, 255, 255, 0.5);
}

.loaderToCenter{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
}

.favIcon{
  position: absolute;
  width: 24px;
  height: 24px;
  background: #fff;
  border-radius: 50%;
  top: 4px;
  right: 20px;
  transition: all ease .3s;
}

.favIcon::after{
  position: absolute;
  content: '';
  background: url(../../../images/heart.svg) no-repeat 0 0;
  top: 6px;
  left: 5px;
  /* transform: translate(-50%,-50%); */
  width: 14px;
  height: 13px;
  cursor: pointer;
}

.favIcon.clicked::after{
  background: url(../../../images/heart-fill.png) no-repeat 0 0;
}

.gotoTopButton {
  width: 40px;
  height: 40px;
  background-color: #f4c031;
  border-radius: 8px;
  display: flex;
  align-items: center;
  justify-content: center;
  position: fixed;
  top: 50%;
  /* right: 50px; */
  cursor: pointer;
  transition: all ease .3s;
  border: none;
  transform: translateY(-50%);
  z-index: 9;
}


.gotoTopButton img{
  width: 20px;
  height: 20px;
  transform: rotate(-90deg);
}

.placeRating p{
  margin: 0;
}

.placeTitleMain{
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap:6px
}

.placeCardAdd{
  background: url(../../../public/images/add-circle.svg) no-repeat 0 0;
  width: 24px;
  height: 24px;
  position:absolute;
  top: 10px;
  right: 5px;
  cursor: pointer;
}

.addTripPlaceName{
 width: 150px;
 text-overflow: ellipsis;
 overflow: hidden;
 white-space: nowrap;
}

.placeTitleTop{
  display: flex;
  flex-direction: column;
}


@media screen and (max-width:1300px) {
  .gotoTopButton {
      width: 32px;
      height: 32px;
  }

  .gotoTopButton img{
    width: 16px;
    height: 16px;
  }
}

@media (max-width: 991px) {
  .placeCard {
    flex-direction: column;
    max-width: calc(50% - 6px);
    flex-basis: calc(50% - 6px);
  }

  .popupPlaceCard.placeCard {
    flex-direction: row;
    gap: 10px;
    min-width: unset;
  }

  .placeImage {
    width: 100%;
    height: 200px;
    margin-right: 0;
    margin-bottom: 16px;
  }

  .popupPlaceCard .placeImage{
    width: 130px;
    height: 90px;
  }

  .placeActions {
    width: 100%;
    margin-top: 16px;
  }

  .favIcon {
    top: 10px;
    right: 25px;
}

.addTripPlaceName{
  width: 85%;
}

}

@media screen and (max-width:640px) {

  .placeCard {
    max-width: 100%;
    flex-basis: 100%;
  }

  ._popupPlaceCard.placeCard {
    flex-direction: column;
    gap: 10px;
    max-width: max-content;
    min-width: unset;
}
  
}


@media screen and (max-width:480px) {
  .favIcon {
    top: 8px;
    right: 5px;
  }
}
