.promotionalBanner {
    /* display: flex; */
    border: 2px solid #212d94;
    border-radius: 24px;
    margin-top: 36px;
    margin-bottom: 80px;
    position: relative;
  }
  
  .promotionalBannerIn{
    width: 100%;
    overflow: hidden;
  }
  
  .promotionalBannerItem{
    display: flex;
    align-items: center;
  }
  
  .promotionalBannerItem img{
    max-width: 50%;
    flex-basis: 50%;
    height: 265px;
    display: block;
    border-radius: 22px 0 0 22px;
    flex-shrink: 0;
  }
  
  .promotionalImage {
    width: 50%;
    object-fit: cover;
  }
  
  .promotionalContent {
    width: 50%;
    padding:0px 96px 0 48px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
  }
  
  .promotionalTitle {
    font-size: 32px;
    font-weight: 700;
    color: #000000;
    margin-bottom: 14px;
  }
  
  .promotionalText {
    font-size: 14px;
    line-height: 1.5;
    color: #000000;
    margin-bottom: 24px;
  }


  :global(.slick-slide) {
    margin: 0;
    padding: 0;
    line-height: 0;
  }
  
  :global(.slick-dots li){
        width: 12px;
       height: 12px;
  }
  
  :global(.slick-dots li button) {
    font-size: 0;
    width: 12px;
    height: 12px;
  }
  
  :global(.slick-dots li button:before) {
    font-size: 0px ;
    width: 12px;
    height: 12px;
    background: #D9D9D9;
    opacity: 1;
    border-radius: 50%;
  }
  
  :global(.slick-dots li.slick-active button:before){
    opacity: 1;
    background: #212D94;
  }
  
  .promotionalBanner :global(.slick-slider){
    margin: 0 !important;
  }
  
  :global(.slick-dots ul){
    padding: 0;
  }

  .exploreButton {
    background-color: #f4c031;
    color: #000000;
    border: none;
    border-radius: 12px;
    padding: 10px 16px;
    font-size: 16px;
    font-weight: 600;
    cursor: pointer;
    transition: all ease .3s;
  }
  
  .exploreButton:hover {
    background-color: #e5b22e;
  }


  @media (max-width: 991px) {
   
 
    .promotionalBanner {
      flex-direction: column;
    }
  
    .promotionalImage,
    .promotionalContent {
      width: 100%;
    }
  
  
    .promotionalBannerItem img{
      height: 100%;
      max-height: 350px;
    }
  
  
  }
  
  @media screen and (max-width: 768px) {
    .promotionalContent {
      padding: 0px 48px 0 24px;
    }
    
    
  
  }
  
  @media screen and (max-width: 640px) {
    .promotionalBannerItem{
      flex-direction: column;
    }
    
    .promotionalBannerItem img {
      max-width: 100%;
      flex-basis: 100%;
      border-radius: 22px 22px 0 0;
      max-height: 250px;
    }
    
    .promotionalContent {
      padding: 24px;
    }
  
   
  }