.eventSearch {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  margin: 0 0 20px;
}

.searchContainer {
  display: flex;
  align-items: center;
  gap: 14px;
  flex-grow: 1;
}

.searchTitle {
  color: var(--Negro-blue, #151820);
  font-size: 16px;
  font-weight: 600;
  margin: 0;
}

.searchForm {
  flex-grow: 1;
  max-width: 308px;
  width: 100%;
}

.inputWrapper {
  display: flex;
  align-items: center;
  border-radius: 12px;
  border: 1px solid var(--Desactivado, #718295);
  background-color: #fff;
  padding: 12px 14px;
}

.searchIcon {
  width: 24px;
  height: 24px;
  margin-right: 8px;
}

.searchInput {
  border: none;
  outline: none;
  font-size: 14px;
  /* color: var(--Gray-4, #bdbdbd); */
  width: 100%;
}

.actionButtons {
  display: flex;
  gap: 18px;
}

.mapButton,
.filterButton {
  border-radius: 12px;
  font-size: 16px;
  font-weight: 600;
  padding: 10px 16px;
  cursor: pointer;
}

.filterButton {
  display: flex;
  align-items: center;
  gap: 10px;
  justify-content: center;
}

.mapButton {
  background-color: var(--Color-principal-naranja, #f4c031);
  color: var(--Negro-textos, #151820);
  border: none;
  transition: all ease .3s;
}

.mapButton:hover {
  background-color: #e5b22e;
}

.filterButton {
  border: 1px solid var(--Color-principal-azul, #212d94);
  background-color: #fff;
  color: var(--Negro-blue, #151820);
  transition: all ease .3s;
}

.filterButton:hover {
  border: 1px solid var(--Negro-blue, #151820);
  color: var(--Color-principal-azul, #212d94);
}

.searchClose{
  background: url(../../../images/close.png) no-repeat 0 0;
  width: 14px;
  height: 14px;
  cursor: pointer;
}

.searchBar {
  display: flex;
  align-items: center;
  width: 100%;
  max-width: 550px;
  /* margin: 0px auto; */
  border: 2px solid var(--Desactivado, #718295);
  border-radius: 12px;
  padding: 8px 16px;
  background-color: #fff;
}

.searchInput {
  flex-grow: 1;
  border: none;
  font-size: 14px;
  color: var(--Gray-3, #828282);
  /* padding: 10px; */
  background: transparent;
}

.searchInput::placeholder {
  color: var(--Gray-3, #828282);
}

.searchInput:focus {
  outline: none;
}

.searchButton {
  background: none;
  border: none;
  cursor: pointer;
  padding: 5px;
}

.searchIcon {
  width: 24px;
  height: 24px;
}

.visuallyHidden {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  white-space: nowrap;
  border: 0;
}

@media (max-width: 991px) {
  .eventSearch {
    flex-direction: column;
    align-items: stretch;
    gap: 20px;
  }

  .searchContainer {
    flex-direction: column;
    align-items: stretch;
  }

  .actionButtons {
    justify-content: space-between;
  }

  .mapButton{
    text-align: center;
  }

  .filterButton {
    text-align: center;
  }


  .searchForm{
    max-width: 100%;
  }
  .searchBar {
    max-width: 100%;
  }
}
