

.gallerySection {
  flex: 1;
  padding: 0 80px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1px;
}

.mainImageContainer {
  width: 100%;
  max-width: 641px;
  position: relative;
}

.destinationImageContainer .mainImageContainer{
  max-width: 965px;
  padding-bottom: 30px;
}

.mainImageContainer img{
  max-width: 100%;
  width: 100%;
}

/* .mainImage {
  width: 641px;
  height: 390px;
  border-radius: 8px;
  object-fit: cover;
} */

.imageCounter {
  color: #000;
  text-align: center;
  font: 14px/25px "Source Sans Pro", sans-serif;
}

.thumbnailContainer {
  display: flex;
  gap: 22px;
  margin: 6px 0 16px;
  flex-wrap: wrap;
  justify-content: center;
  width: 100%;
  max-width: 640px;
  position: relative;
  left: -16px;
}
  
.thumbnail {
  width: 144px;
  /* width: calc(25% - 22px); */
  height: auto;
  border-radius: 3px;
  object-fit: cover;
  cursor: pointer;
}

.reviewsSection {
  width: 285px;
  border-left: 1px solid #bdbdbd;
  border-top: 1px solid #bdbdbd;
  padding-top: 10px;
  overflow: auto;
  flex-shrink: 0;
}

.ratingContainer {
  padding: 10px;
  display: flex;
  gap: 15px;
  align-items: flex-start;
}

.ratingScore {
  width: 50px;
  height: 40px;
  border-radius: 3px;
  color: #fff;
  background-color: #212d94;
  font: 18px "Source Sans Pro", sans-serif;
  display: flex;
  justify-content: center;
  align-items: center;
}

.ratingDetails {
  display: flex;
  flex-direction: column;
  gap: 4px;
}

.stars {
  width: 108px;
  height: 22px;
  display: flex;
  gap: 3px;
}

.reviewCount {
  color: #000;
  font: 12px "Source Sans Pro", sans-serif;
}

.reviewsTitle {
  color: #000;
  padding: 0 10px;
  /* margin-top: 48px; */
  font: 600 12px "Source Sans Pro", sans-serif;
}

.reviewList {
  margin-top: 6px;
  list-style-type: none;
  padding: 0;
}

.reviewItem {
  padding: 11px 14px;
  border-bottom: 1px solid #bdbdbd;
}

.reviewText {
  color: #151820;
  margin-bottom: 5px;
  font: 10px "Source Sans Pro", sans-serif;
}

.reviewerInfo {
  display: flex;
  align-items: center;
  gap: 5px;
  margin-top: 5px;
}

.reviewerAvatar {
  width: 20px;
  height: 20px;
  border-radius: 50%;
  background-color: #d9d9d9;
  overflow: hidden;
}

.reviewerName,
.reviewerLocation {
  color: #000;
  font: 10px "Source Sans Pro", sans-serif;
}

.arrowButton {
  background: none;
  border: none;
  cursor: pointer;
  padding: 0;
  position: absolute;
  background: url(../../../../public/images/arrowright.svg) no-repeat 0 0;
  top: 42%;
  transform: translateY(-50%);
  width: 30px;
  height: 30px;
}
.arrowButton.prev{
  transform: translateY(-50%) rotate(-180deg);
  left: -90px;
}

.destinationImageContainer .arrowButton.prev{
  left: -48px;
}

.arrowButton.next{
  right: -70px;
}

.destinationImageContainer .arrowButton.next{
  right: 35px;
}

.imageGalleryPopupContentOuter{
  max-width: 920px;
  width: 100%;
  flex-grow: 1;
  display: flex;
  justify-content: center;
}

.imageGalleryPopupContent{
  max-width: 641px;
  width: 100%;
}

.mainImageContainer :global(.slick-slide img){
  width: 641px !important;
  height: 390px !important;
  border-radius: 8px;
}

.destinationImageContainer .thumbnailContainer{
  max-width: 965px;
}

.destinationImageContainer .mainImageContainer :global(.slick-slide img){
  width: 965px !important;
}
.imageGalleryPopupContent :global(.slick-slider) {
  margin: 0 !important;
}

@media screen and (max-width:1450px) {
  .destinationImageContainer .mainImageContainer :global(.slick-slide img){
    width: 55.55vw !important;
  }

  .destinationImageContainer .thumbnailContainer{
    max-width: 55.55vw;
  }

  .destinationImageContainer .mainImageContainer{
    max-width: 55.55vw;
  }

  /* .destinationImageContainer .arrowButton.next{
    right: 65px;
  } */
}



/* @media screen and (max-width:1920px){
  .mainImageContainer :global(.slick-slide img){
    width: 33.38vw !important;
    height: 20.31vw !important;
  }

  .mainImageContainer,.thumbnailContainer {
    max-width: 33.38vw;
  }

  .destinationImageContainer.mainImageContainer{
    max-width: 50.26vw;
  }
} */

@media screen  and (max-width:1200px) {
  .mainImageContainer :global(.slick-slide img) {
    width: 447px !important;
    height: 270px !important;
}

.mainImageContainer{
  width: 447px ;
}

.thumbnailContainer{
    max-width: 447px ;
    left: 0;
}

.arrowButton.next{
  right: -90px;
}

.destinationImageContainer .arrowButton.next {
  right: -50px;
}
}





@media screen and (max-height:680px) {
  /* .mainImage{
      height: 300px;
  } */
}

@media screen and  (max-width: 1400px)  {
  .gallerySection {
    padding: 0 40px;
  }
}

@media (max-width: 991px) {


  .gallerySection {
    padding: 0 0px;
  }

  /* .mainImage {
    width: 100%;
    height: auto;
  } */

  .thumbnailContainer {
    flex-wrap: wrap;
    justify-content: center;
  }
}

@media screen and (max-width:991px) {
  .reviewsSection {
    width: 100%;
  }

  .destinationImageContainer .mainImageContainer :global(.slick-slide img)  {
    width: 100% !important;
}

.destinationImageContainer .mainImageContainer{
  max-width: 90%;
}

/* .destinationImageContainer .arrowButton.prev{
  left: -28px;
} */
}

@media screen and (max-width: 640px) {


  .gallerySection {
    /* padding: 0 20px; */
  }

  .mainImageContainer {
    flex-direction: column;
    gap: 15px;
  }

  .thumbnail {
    width: 100px;
    height: 65px;
  }

  .reviewsSection {
    width: 100%;
    border-left: none;
    margin-top: 20px;
  }

  .mainImageContainer{
    width: 85%;
    height: auto;
}

.arrowButton.prev{
  left: -42px;
}

 .arrowButton.next{
  right: -42px;
}

.thumbnailContainer{
  max-width: 100%;
}

.mainImageContainer :global(.slick-slide img){
  width: 100% !important;
  height: auto !important;
}

.destinationImageContainer .mainImageContainer{
  max-width: 75%;
}

}

@media screen and (max-width: 480px){
  .mainImageContainer{
    width: 75%;
  }
}
